<h1>Edit Fragrant</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.fragrant_path(@conn, :update, @fragrant)) %>

<hr />
<span><%= link "Back", to: Routes.fragrant_path(@conn, :index), class: "btn btn-secondary" %></span>
