<h1>New Fragrant</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.fragrant_path(@conn, :create)) %>

<hr />
<span><%= link "Back", to: Routes.fragrant_path(@conn, :index), class: "btn btn-secondary" %></span>
